.task-component {
  margin: auto;
  display: block;
  padding: 20px;
}

.task-component .full-width {
  width: 100%;
}

.task-component .new-task {
  margin: auto;
  width: 400px;
}

::ng-deep .task-component .new-task .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin: auto;
  width: 50%;
}

.task-component .new-task h1 {
  text-align: center;
}

.new-task .mat-raised-button {
  margin: auto;
  display: block;
  margin-bottom: 3%;
}

.task-component .list-of-tasks {
  text-align: center;
}

::ng-deep .task-component .edit-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin: auto;
  width: 50%;
}

.list-of-tasks p {
  font-weight: bold;
}

.mat-divider {
  width: 50%;
  margin: auto;
  background-color: #80808066;
  margin-top: 1%;
}
